:root {
    font-size: 1rem;
    --logo: hsl(252,47%,59%);
    --darkest: hsl(0, 0%, 10%);
    --dark: hsl(0, 0%, 40%);
    --row-spacing: 1.5em;

}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 ,h6 {
    margin: 0;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    padding: 1em;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    background-color: rgb(43,10,5);
    background-image: url('../assets/Banner.png');
    color: white;
    padding: 1em 0;
    margin-bottom: var(--row-spacing);
    position: sticky;
    top: 0;
    z-index: 999;

    .logo {
        width: 125px;
    }

    nav {
        display: flex;
        column-gap: .75em;
        align-items: center;

        a {
            text-decoration: none;
            color: white;
        }
    }
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin-bottom: var(--row-spacing);

    .form-container, .form-container form {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: .5em;

        button {
            background-color: var(--logo);
            color: white;
            border: none;
            padding: .5em 1em;
            border-radius: 50px;
            cursor: pointer;
        }
    }

    button.arrow {
        border: none;
        color: var(--logo);
        background-color: inherit;
        padding: 1.5em;
        border-radius: 7px;
        cursor: pointer;

        &:not([disabled]):hover > .left {
            transform: translate(-10px);
        }
        &:not([disabled]):hover > .right {
            transform: translate(10px);
        }
        &[disabled] {
            color: lightgray;
            cursor: default;
        }

        .icon {
            font-size: 5rem;
            transition: transform 500ms ease-in-out;
        }
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
    place-items: center;
    gap: 2.5em;

    .game-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: .5em;
        box-shadow: 0 0 3px 1px black;
        padding: 1em;
        width: 400px;
        height: 300px;
        aspect-ratio: 16 / 9;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        transition: transform 500ms ease-in-out;

        &:hover {
            transform: scale(1.02);
        }

        &:hover > h3 {
            opacity: 0;
        }

        h3 {
            background-color: rgb(0,0,0, .7);
            padding: .25em .5em;
            color: white;
            border-radius: 10px;
            transition: opacity 500ms ease-in-out;
        }
    }
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        text-align: center;
    }

    img {
        margin-top: .75em;
        width: 200px;
        border-radius: 500px;
        animation: rotation 3s infinite linear;
    }
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
