:root {
    font-size: 1rem;
    --logo: hsl(252,47%,59%);
    --darkest: hsl(0, 0%, 10%);
    --dark: hsl(0, 0%, 40%);
    --row-spacing: 1.5em;
}

* {
    box-sizing: border-box;
    line-height: 1.5;
}

h1, h2, h3, h4, h5 ,h6 {
    margin: 0;
    line-height: 1.1;
}

body {
    margin: 0;
    font-family: sans-serif;
}

// Nav Styling
header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    background-color: rgb(43,10,5);
    background-image: url('../assets/Banner.png');
    color: white;
    padding: 1em 0;
    // margin-bottom: var(--row-spacing);
    position: sticky;
    top: 0;
    z-index: 999;

    .logo {
        width: 100px;
    }

    nav {
        display: flex;
        column-gap: .75em;
        align-items: center;

        a {
            text-decoration: none;
            color: white;
        }
    }
}

// Home Page Styling
.home {
    display: flex;
    flex-direction: column;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0,0,0, .3);
    }

    .overlay-border-radius {
        border-radius: 10px;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    .video-container {
        position: relative;

        .video-content {
            position: absolute;
            width: 100%;
            height: 100%;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        video {
            width: 100%;
            height: 40vh;
            object-fit: cover;
        }
    }

    .content {
        display: flex;
        justify-content: center;
        padding-bottom: 2em;

        h1, h2, h3 {
            color: var(--logo);
        }

        .layout {
            max-width: 80%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            row-gap: 2em;

            .game-of-the-month {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 1em;
                
                img {
                    width: 400px;
                    object-fit: cover;
                    border-radius: 10px;
                    animation-name: month;
                    animation-duration: 10s;
                    animation-iteration-count: infinite;
                }
            }

            .split-column {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-around;
                padding: 1em;
                column-gap: 1em;

                p {
                    font-size: 1.25rem;
                    max-width: 65ch;
                    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.84);
                    padding: 1em;
                    background-color: white;
                    border-radius: 10px;
                }
            }
            .browse {
                display: flex;
                flex-direction: column;
                row-gap: 1em;

                h3 {
                    text-align: center;
                }

                .sort-by {
                    display: flex;
                    justify-content: center;
                    gap: 1em;

                    a {
                        position: relative;

                        &:hover > h4 {
                            transform: scale(1.1);
                        }
                    }

                    h4 {
                        position: absolute;
                        top: .5em;
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        font-size: 1.5rem;
                        color: white;
                        font-weight: bold;
                        transition: transform 500ms ease-in-out;
                        z-index: 2;
                    }

                    img {
                        width: 400px;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }
            }

        }
    }
}

.container {
    padding: 1em;
}


// Game page styling
.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin-bottom: var(--row-spacing);

    .form-container, .form-container form {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: .5em;

        button {
            background-color: var(--logo);
            color: white;
            border: none;
            padding: .5em 1em;
            border-radius: 50px;
            cursor: pointer;
        }
    }

    button.arrow {
        border: none;
        color: var(--logo);
        background-color: inherit;
        padding: 1.5em;
        border-radius: 7px;
        cursor: pointer;

        &:not([disabled]):hover > .left {
            transform: translate(-10px);
        }
        &:not([disabled]):hover > .right {
            transform: translate(10px);
        }
        &[disabled] {
            color: lightgray;
            cursor: default;
        }

        .icon {
            font-size: 5rem;
            transition: transform 500ms ease-in-out;
        }
    }
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
    place-items: center;
    gap: 2.5em;

    a {
        text-decoration: none;
    }

    .game-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: .5em;
        box-shadow: 0 0 3px 1px black;
        padding: 1em;
        width: 400px;
        height: 300px;
        aspect-ratio: 16 / 9;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        transition: transform 500ms ease-in-out;

        &:hover {
            transform: scale(1.02);
        }

        &:hover > h3 {
            opacity: 0;
        }

        h3 {
            background-color: rgb(0,0,0, .7);
            padding: .25em .5em;
            color: white;
            border-radius: 10px;
            transition: opacity 500ms ease-in-out;
        }
    }
}

// Single Game Page Styling
#single-game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
    padding-top: var(--row-spacing);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;

    & > * {
        z-index: 10;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0,0,0, .75);
        z-index: 1;
    }

    a {
        text-decoration: none;
        color: var(--logo);
    }

    .layout {
        width: 90%;
    }

    .card {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1em;
        padding: .5rem;
        flex-wrap: wrap;

        img {
            aspect-ratio: 16/9;
            box-shadow:  0px 0px 7px 1px;
            object-fit: cover;
        }

        .description {
            max-width: 100ch;
            padding: 1rem;
            color: white;
            background-color: hsl(190,51%,9%);

        }
    }

    .grid-auto-flow {
        display: grid;
        column-gap: 1rem;
        grid-auto-flow: column;
        grid-auto-columns: 100px;
        padding: .5em;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        width: 600px;
    
        .grid-item {
            background-color: white;
            aspect-ratio: 16 / 9;
            object-fit: cover;
        }
    }
    
    .snaps-inline {
        scroll-snap-type: inline mandatory;
        scroll-padding-inline: 1em;
    }
    
    .snaps-inline > * {
        scroll-snap-align: start;
        outline: none;
    }
}

// Loading Component Styling
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        text-align: center;
    }

    img {
        margin-top: .75em;
        width: 200px;
        border-radius: 500px;
        animation: rotation 3s infinite linear;
    }
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

@keyframes month {
    0% {opacity: 1;}
    50% {opacity: .5;}
    100% {opacity: 1;}
}
